<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
				<img
					class="img-fluid d-block mx-auto"
					src="{{ project.frontImage }}"
					alt="{{ project.alt }}"	/>
			  {%- if project.video -%}
			  <div>
				<video width="320" height="240" controls>
					<source src="{{ project.video }}" type="video/mp4">
			<video/>
			</div>
			  {%- endif -%}

			{% assign images = {{project.images}} %}
			{% if images %}
				{% include carousel.html height="50" unit="%" duration="5" images= images number = project.number%}
			{% endif %}`
            <p>{{ project.content }}</p>
			{% if project.unity_dir %}
					 <iframe mozallowfullscreen="false" src="/assets/unity/{{project.unity_dir}}/index.html" style="border:0px #000000 none;" name="Celestialnoid" scrolling="no" msallowfullscreen="false" allowfullscreen="false" webkitallowfullscreen="false" allowtransparency="true" frameborder="0" marginheight="px" marginwidth="-320px" height="600px" width="540px"></iframe>

			{% endif %}
			  
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->
